.container {
    margin: auto;
    margin-top: 70px;
    width: 90%;
}

.polaroid {
    box-shadow: 5px 10px #888888;
}

.polaroid img {
    border-bottom: #0074d9 dashed 2px;
}

#polaroid-container {
}

#polaroid-container div {
    margin-top: 20px;
}

img {
    margin: auto;
}

#single-polaroid div img {
    margin: auto;
    margin-top: 20px;
}

#polaroid-container div footer, #single-polaroid div footer {
    font-family: 'Special Elite', cursive;
    width: 80%;
    margin: auto;
    font-size: 20px;
}

.error {
    margin: auto;
    text-align: center;
    border: 2px solid red;
}

.new-picure {
    margin-bottom: 60px;
}
